{% extends 'base.html' %} {% block content %}

<h1>Exercise Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card2">
      <div class="card-content">
        <span class="card-title"> {{exercise.TypeOfWorkout}} </span>
        <p>Duration: {{exercise.duration}}</p>
        <p>Description: {{exercise.description}}</p>
      </div>
    </div>
    
    


    
          {% for photo in exercise.photo_set.all %}
      <img
        class="responsive-img card-panel"
        src="{{photo.url}}"
        alt="Exercise Photo"
      />
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}

      <!-- new code below -->
      <form
        action="{% url 'add_photo_for_exercise' exercise.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="card-panel"
      >
        {% csrf_token %}
        <input type="file" name="photo-file" />
        <br /><br />
        <button type="submit" class="btn">Upload Photo</button>
        <div class="card-action">
          <a href="{% url 'exercises_update' exercise.id %}">Edit</a>
          <a href="{% url 'exercises_delete' exercise.id %}">Delete</a>
        </div>
      </form>

      </form>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{exercise.TypeOfWorkout}}</span>
    <p>Duration: {{exercise.duration}}</p>
    <p>Description: {{exercise.description}}</p>
    <!-- <p>Average Rating: {% if average_rating %}{{ average_rating|floatformat }}{% else %}No ratings yet.{% endif %}</p> -->
    <p>Average Rating: {% if average_rating %}{{ average_rating|floatformat:2 }}{% else %}No ratings yet.{% endif %}</p>

  </div>
</div>

<h2>Reviews</h2>
{% for comment in exercise.comments.all %}
<div class="card">
  <div class="card-content">
    <span class="card-title">{{ comment.name }}</span>
    <p>{{ comment.body }}</p>
    <p>{{ comment.created }}</p>
    <p>Rating: {{ comment.rating }}</p> <!-- add this line to display the rating -->
  </div>
</div>
{% empty %}
<p>No reviews yet.</p>
{% endfor %}



<form action="{% url 'add_comment_for_exercise' exercise.id %}" method="POST">
  {% csrf_token %}
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  <br>
  <label for="body">Review:</label>
  <textarea id="body" name="body" required></textarea>
  <br>
  <label for="rating">Rating:</label>
  <input type="number" id="rating" name="rating" min="1" max="5" required>
  <br>
  <button type="submit" class="btn">Submit Review</button>
</form>


{% endblock %}
