{% extends 'base.html' %} {% block content %}

<h1>Exercise Details</h1>

<div class="row">
  <div class="col s6 col-offset-3">
    <div class="card2">
      <div class="card-content">
        <span class="card-title"> {{exercise.TypeOfWorkout}} </span>
        <p>Duration: {{exercise.duration}}</p>
        <p>Description: {{exercise.description}}</p>
      </div>
    </div>
    
    {% if comments %}
    <div class="row mt-5">
      <div class="col-lg-6 offset-lg-3">
        Comment{{ comments.count|pluralize }}
        <span class="badge badge-dark ml-2">{{ comments.count }}</span>
      </div>
      {% for comment in comments %}
      <div class="col s6 col-offset-3">
        <div class="card p-2">
          <div class="row">
            <div class="col-12">
              <strong>{{ comment.name }}</strong> said
            </div>
            <div class="col-12">
              <p class="m-1 mt-3">{{ comment.content }}</p>
              <p class="text-right text-muted"><small>{{ comment.created }}</small></p>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}
    
    <div class="row mt-5">
      <div class="col-lg-6 offset-lg-3">
        <h3>Leave a comment</h3>
        <form method='POST' action="{% url 'exercises_detail' exercise.id %}">
          {% csrf_token %}
          <div class="form-group">
            <span class="ml-2"></span>{{ form.name.label_tag }}
            <input type="text" class="form-control {% if form.name.errors %}is-invalid{% endif %}" id="id_name"
              name="name" value="{{ form.name.value|default:'' }}">
          </div>
          <div class="form-group">
            <span class="ml-2"></span>
            {{ form.email.label_tag }}
            <span class="text-muted"><small>(Your email address will not be published)</small></span>
            <input type="text" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="id_email"
              name="email" value="{{ form.email.value|default:'' }}">
          </div>
          <div class="form-group">
            <span class="ml-2"></span>{{ form.content.label_tag }}
            <textarea class="form-control {% if form.content.errors %}is-invalid{% endif %}" id="id_content"
              name="content" rows="4">{{ form.content.value|default:'' }}</textarea>
          </div>
          <button class="btn btn-primary ml-2" type="submit">SUBMIT</button>
        </form>
      </div>
    </div>
    
    



    
          {% for photo in exercise.photo_set.all %}
      <img
        class="responsive-img card-panel"
        src="{{photo.url}}"
        alt="Exercise Photo"
      />
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}

      <!-- new code below -->
      <form
        action="{% url 'add_photo_for_exercise' exercise.id %}"
        enctype="multipart/form-data"
        method="POST"
        class="card-panel"
      >
        {% csrf_token %}
        <input type="file" name="photo-file" />
        <br /><br />
        <button type="submit" class="btn">Upload Photo</button>
      </form>

      <div class="card-action">
        <a href="{% url 'exercises_update' exercise.id %}">Edit</a>
        <a href="{% url 'exercises_delete' exercise.id %}">Delete</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
