{% extends 'base.html' %} {% block content %}
<style>
  h1 {
    color: black;
    font-size: 2.5em;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 1.5em;
    text-transform: uppercase;
    text-align: center;
  }
</style>

<h1>Meal Plans</h1>

<div class="card-container">
  {% for meal in meal_list %}

  <a href="{% url 'meals_detail' meal.id %}" class="card">
    <div class="card-content">
      {% for photo in meal.photo_set.all %}
      <img
        class="responsive-img card-panel"
        src="{{photo.url}}"
        alt="Meal Photo"
      />
      {% empty %}
      <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
      <span class="card-title2">{{ meal.name }}</span>
      <p class="card-text 2">Description: {{ meal.description }}</p>
      <p class="card-text 2">Price: {{ meal.price }}</p>
    </div>
  </a>

  {% endfor %}
</div>

{% endblock %}
