{% extends 'base.html' %} {% block content %}

<div class="home-page-img">
  <img src="../static/img/homeimg.png" alt="two person showing happiness in workout">
</div>

<div class="home-page-content">
  <h1>Gym Buddy</h1>
  <h2>SITE DESCRIPTION</h2>
    <p>Welcome to our web-based health app where you can create a personalized health plan to achieve your health and nutrition goals. With a simple sign-in process, you can easily customize your profile and add meal plans and exercises to your plan. You can also explore and add other people's meal plans and exercises.</p>

    <p>Our user-friendly platform makes it easy to track your progress and monitor your goals. Whether you want to lose weight, gain muscle, or maintain your overall health, our app is designed to help you achieve long-lasting results.</p>

    <p>Join our community of health enthusiasts today and take the first step towards a healthier life. Sign up now and start creating your personalized health plan.</p>
</div>

{% endblock %}
