body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: black;
}

.left-brand-logo {
  font-family: Oswald;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}

.right {
  font-family: Poppins;
  font-size: 16px;
  margin-right: 200px;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background-color: black;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
}

nav ul ul li {
  display: block;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 0;
  min-width: 200px;
}

nav ul ul li a {
  color: #333;
  text-decoration: none;
}

nav ul ul li a:hover {
  color: #fff;
  background-color: #333;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 400px;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.card-image {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 30px;
}

.card-image2 {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 25px;
}

.card-title {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.card-title2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}

.card-title3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 2rem;
  margin-bottom: 10px;
  color: black;
}

.card-text {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.card-text2 {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: black;
}

.card-text3 {
  font-size: 1.2rem;
  margin-top: 5px;
  margin-bottom: 25px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.home-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.home-page-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex: 1;
}

.home-page-img img {
  width: 100vw;
  object-fit: cover;
}

.home-page-content p {
  text-align: justify;
  line-height: 1.5;
}

.home-page-content {
  text-align: center;
}

.log-container {
  float: left;
  width: 45%;
}

.log-container h1 {
  font-family: Poppins;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.loginout-img {
  float: right;
  width: 45%;
}

.btn {
  background-color: black;
  border-radius: 10px;
}

.btn:hover {
  background-color: white;
  color: black;
}

.rating-dropdown {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease-in-out;
}

.rating-dropdown:hover,
.rating-dropdown:focus {
  border-color: #888;
  outline: none;
}

.rating-label {
  display: inline-block;
  margin-right: 10px;
  font-size: 16px;
}

.rating-submit {
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.rating-submit:hover {
  background-color: #555;
}


