body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background-color: black;
}

nav .nav-wrapper {
  position: relative;
  height: 100%;
  background-color: black;
}

nav ul li {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}

nav ul li:hover ul {
  display: block;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
}

nav ul ul li {
  display: block;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 0;
}

nav ul ul li a {
  color: #333;
  text-decoration: none;
}

nav ul ul li a:hover {
  color: #fff;
  background-color: #333;
}

.home-page-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.home-page-img img {
  width: 100vw;
  object-fit: cover;
}

.home-page-content p {
  text-align: justify;
  line-height: 1.5;
}

.home-page-content {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.loginout {
  flex: 1;
}

.loginout-img {
  margin-left: 20px;
}

.btn {
  background-color: black;
}