{% extends 'base.html' %} {% block content %}

<h1>Health Plan</h1>


  <div class="col s6">
    <div class="card9">
      <div class="card-content">
        <span class="card-title">{{ plan.name }}</span>
        {% if plan.weight > 0 %}
        <p>Weight: {{ plan.weight }}</p>
        {% else %}
        <p>No weight given</p>
        {% endif %}
        <p>Plan Goal: {{ plan.goal }}</p>
      </div>
      <div class="card-action">
        <button class="btn">
          <a href="{% url 'plans_update' plan.id %}">Edit</a>
        </button>
        <button class="btn">
          <a href="{% url 'plans_delete' plan.id %}">Delete</a>
        </button>
      </div>
    </div>

  <hr />

  <div class="row">
    <div class="col s6">
      <h3>{{ plan.name }}'s Meal</h3>
      {% if plan.meals.count %} {% for meal in plan.meals.all %}
      <div class="card">
        <div class="card-content">

          <a href="{% url 'meals_detail' meal.id %}">
          {% for photo in meal.photo_set.all %}
          <img
            class="responsive-img card-panel"
            src="{{photo.url}}"
            alt="Exercise Meal"
          />
          {% empty %}
          <div class="card-panel teal-text center-align">No Photos Uploaded</div>
          {% endfor %}
          <span class="card-title">
            <p>Meal: {{ meal.name }}</p>
            <span>${{ meal.price }}</span>
          </span>
        </div>
        </div>
        <div class="card-action">
          <form action="{% url 'unassoc_meal' plan.id meal.id %}" method="POST">
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>No meals</h5>
      {% endif %}
    </div>
  </div>
</a>

<hr />


  <div class="col s6">
    <h3>Available Meals</h3>
    {% if meals.count %} {% for meal in meals.all %}
    <div class="card">
      <div class="card-content">
    <a href="{% url 'meals_detail' meal.id %}">
      <div class="card-content">
        {% for photo in meal.photo_set.all %}
        <img
          class="responsive-img card-panel"
          src="{{photo.url}}"
          alt="Exercise Meal"
        />
        {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
        {% endfor %}
        <span class="card-title">Meal: {{ meal.name }}</span>
          <p>${{ meal.price }}</p>
        </div>

      </a>
      </div>

      <div class="card-action">
        <form action="{% url 'assoc_meal' plan.id meal.id %}" method="POST">
          {% csrf_token %}
          <button type="submit" class="btn">Add</button>
        </form>
      </div>
    </div>
    {% endfor %} {% else %}
    <h5>{{plan.name}} Already Has All Meals Available</h5>
    {% endif %}
  </div>
</div>
</div>
  <hr />

  <div class="row">
    <div class="col s6">
      <h3>{{ plan.name }}'s Exercises</h3>
      {% if plan.exercises.count %} {% for exercise in plan.exercises.all %}
      <div class="card">
        <div class="card-content">
          <a href="{% url 'exercises_detail' exercise.id %}" >
              {% for photo in exercise.photo_set.all %}
              <img
                class="responsive-img card-panel"
                src="{{photo.url}}"
                alt="Exercise Photo"
              />
              {% empty %}
              <div class="card-panel teal-text center-align">No Photos Uploaded</div>
              {% endfor %}
        
              <span class="card-title3"> {{exercise.TypeOfWorkout}} </span>
              <p class="card-text 3">Duration: {{exercise.duration}}</p>
              <p class="card-text 3">Description: {{exercise.description}}</p>
            </div>

        </div>


        <div class="card-action">
          <form
            action="{% url 'unassoc_exercise' plan.id exercise.id %}"
            method="POST"
          >
            {% csrf_token %}
            <button type="submit" class="btn">Remove</button>
          </form>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>No Exercises</h5>
      {% endif %}
    </div>
  </div>
  </a>
  
  <hr />


    <div class="col s6">
      <h3>Available Exercises</h3>
      {% if exercises.count %} {% for exercise in exercises.all %}
      <div class="card">
        <div class="card-container">
          <a href="{% url 'exercises_detail' exercise.id %}">
            <div class="card-content">
              {% for photo in exercise.photo_set.all %}
              <img
                class="responsive-img card-panel"
                src="{{photo.url}}"
                alt="Exercise Photo"
              />
              {% empty %}
              <div class="card-panel teal-text center-align">No Photos Uploaded</div>
              {% endfor %}
        
              <span class="card-title3"> {{exercise.TypeOfWorkout}} </span>
              <p class="card-text 3">Duration: {{exercise.duration}}</p>
              <p class="card-text 3">Description: {{exercise.description}}</p>
            </div>
          </a>
        </div>
        <div class="card-action">
          <form
            action="{% url 'assoc_exercise' plan.id exercise.id %}"
            method="POST"
          >
            {% csrf_token %}
            <button type="submit" class="btn">Add</button>
          </form>
        </div>
      </div>
      {% endfor %} {% else %}
      <h5>{{plan.name}} Already Has All Exercises Available</h5>
      {% endif %}
    </div>
  </div>
  {% endblock %}
</div>


