{% extends 'base.html' %} {% block content %}

<h1>Health Plan</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ plan.name }}</span>
        {% if plan.weight > 0 %}
        <p>Weight: {{ plan.weight }}</p>
        {% else %}
        <p>No weight given</p>
        {% endif %}
        <p>Plan Goal: {{ plan.goal }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'plans_update' plan.id %}">Edit</a>
        <a href="{% url 'plans_delete' plan.id %}">Delete</a>
      </div>
      <!-- Add the following one as well -->
    </div>
  </div>
  <hr>
<div class="row">
  <div class="col s6">
    <h3>{{ plan.name }}'s Meal</h3>
    {% if plan.meals.count %}
      {% for meal in plan.meals.all %}
        <div class="card">
          <div class="card-content">
            <span class="card-title">
              <p>Meal: {{ meal.name }}</p>
              $<span style="color: {{ meal.price }}">{{ meal.price }}</span> {{ mael.name }}
            </span>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <h5>No meals 😿</h5>
    {% endif %}
  </div>
</div>
{% endblock %}
