{% extends 'base.html' %} {% block content %}

<h1>List of Gym Buddys</h1>

<!-- {% for gym in gyms %} -->
<!-- <div class="card">
    <div class="card-content">
      <span class="card-title"> -->
<!-- {{ cat.name }}</span>
      <p>Breed: {{ cat.breed }}</p>
      <p>Description: {{ cat.description }}</p>
      {% if cat.age > 0 %}
        <p>Age: {{ cat.age }}</p>
      {% else %}
        <p>Age: Kitten</p>
      {% endif %} -->
<!-- *********** leaving cat stuff here for reference -->
<!-- </div>
  </div>
{% endfor %} -->

{% endblock %}
